body{
    background-color: rgba(66,81,103,255);
    margin: 10px;
    margin-top: 0%;
    padding: 0%;
}

nav{
    background-color: rgba(238,238,238,255);
    text-decoration: none;
    padding: 0px;
    margin-top: 0%;
    width: 100%;
    height: 70px;
    position: absolute;
}

li a{
    color: black;
    text-decoration: none;
    float: left;
    margin: 30px;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}

ul{
    list-style-type: none;
}


.texto{
    background-color: #ffffff;
    margin-top: 0%;
    padding: 0%;
    position: absolute;
    margin-right: 47%;
    
    
}

footer{
    background-color: #e5306e;
    color: #ffffff;
    position: relative;
    float: left;
    margin-top: 410px;
    width: 53%;
    height: 100px;
    text-align: center;
}

h3{
    margin-top: 45px;
    text-align: center;
}

